.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  
.pretty th .asc {
    background-image: #8593;
  }
  
.pretty th .desc {
    background-image: #2193;
  }