table#movies th .asc {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
    content: "\u2191";
  }
  
table#movies th .desc {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: "\uA71C";
 }
 table#movies th a.hilight {
    background-color: yellow;
  }